@font-face {
  font-family: MADE Canvas;
  src: url('@/assets/fonts/MADECanvas-Light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: MADE Canvas;
  src: url('@/assets/fonts/MADECanvas-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: MADE Canvas;
  src: url('@/assets/fonts/MADECanvas-Black.woff2');
  font-weight: 900;
}

@font-face {
  font-family: MADE Coachella;
  src: url('@/assets/fonts/MADECoachella-Thin.woff2');
  font-weight: 100;
}

@font-face {
  font-family: MADE Coachella;
  src: url('@/assets/fonts/MADECoachella-Light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: MADE Coachella;
  src: url('@/assets/fonts/MADECoachella-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: MADE Coachella;
  src: url('@/assets/fonts/MADECoachella-Bold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: MADE Coachella;
  src: url('@/assets/fonts/MADECoachella-Black.woff2');
  font-weight: 900;
}