.slideUp-enter-active, .slideUp-leave-active,
.slideLeft-enter-active, .slideLeft-leave-active {
  transition: all 0.5s ease;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.7s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.slideUp-enter-from, .slideUp-leave-to {
  transform: translateY(500px);
}

.slideLeft-enter-from, .slideLeft-leave-to {
  transform: translateX(500px);
}
